<div class="row g-4 align-items-center">
  <div class="col-lg-8">
    <h3 class="mb-1 text-white"><i class="icofont-check-circled fs-32 me-3 text-brand-red"></i>{{ 'Explore the complete Admor product catalog, branch support, and online ordering.'|t }}</h3>
  </div>
  <div class="col-lg-4 text-lg-end text-start">
    <a class="btn-main bg-color-2" href="/products">{{ 'Discover products'|t }}</a>
  </div>
</div>
